<% 
	accountExists =  typeof(invite.user) === 'undefined' ? false : true,
	user = typeof(invite.user) !== 'undefined' ? invite.user : null;
	email = typeof(invite.email) !== 'undefined' ? invite.email  : null;
	outlet = typeof(invite.outlet) !== 'undefined' ? invite.outlet  : null;
%>

<script type="text/javascript">var token = '<%- invite.token %>'</script>

<div class="modal modal_window join <%- active %>" id="_join">
	<div class="body">
		<div class="form-wrap">
			<form id="join-form" class="<%- accountExists ? 'exists' : 'new' %>">
				<h3>Join <%- outlet.title %> on Fresco News</h3>

				<h2>Account type</h2>

				<p class="description">Sign up for a new account, or join this outlet with an existing Fresco account.</p>

				<div 
					class="dropdown" 
					id="join-account-type" 
					data-option="<%- accountExists ? 'Existing Account' : 'New Account' %>"
				>
					<div>
						<p style="color:black"><%- accountExists ? 'Existing Account' : 'New Account' %></p>
						<span class="mdi mdi-unfold-more"></span>
					</div>
					
					<ul>
						<li>New Account</li>
						<li>Existing Account</li>
					</ul>
				</div>

				<h2>Login info</h2>
			
				<input id="join-email" type="text" placeholder="Email" value="<%- email %>" />
				<input id="join-username" type="text" autocomplete="off" placeholder="Username" />
				<input id="join-password" type="password" placeholder="Password" />
				
				<h2><%- accountExists ? 'Update profile' : 'Profile' %></h2>
				
				<input id="join-name" type="text" placeholder="Name" autocomplete="off" />
				<input id="join-phone" type="text" placeholder="Phone number" autocomplete="off" />

				<input class="button" id="join_submit" type="submit" value="JOIN" />

				<div class="showbox" id="join-loader">
				  <div class="loader">
				    <svg class="circular" viewBox="25 25 50 50">
				      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
				    </svg>
				  </div>
				</div>
			</form>
		</div>
	</div>
</div>