<% 
	var team = [
		{
			'members' :[
				{
					'avatar' : 'john.jpg',
					'name'   : 'John Meyer',
					'title'  : 'Chief Executive Officer',
					'handle' : 'beastmode'
				},
				{
					'avatar' : 'jeremy.jpg',
					'name'   : 'Jeremy Ogorek',
					'title'  : 'Chief Financial Officer',
					'handle' : 'jeremyogo'
				},
				{
					'avatar' : 'kyle.jpg',
					'name'   : 'Kyle Marimon',
					'title'  : 'VP, Partner Relations',
					'handle' : 'KyleMarimon'
				},
				{
					'avatar' : 'canon.jpg',
					'name'   : 'Johnathan Hamiter',
					'title'  : 'Account Executive'
				}
			]
		},
		{
			'title' : 'Design',
			'members' :[
				{
					'avatar' : 'imogen.jpg',
					'name'   : 'Imogen Olsen',
					'title'  : 'Chief Design Officer',
					'handle' : 'imogenic'
				},
				{
					'avatar' : 'erik.jpg',
					'name'   : 'Erik Washington',
					'title'  : 'Graphic Designer',
					'handle' : '_ErikWashington'
				}
			]
		},
		{
			'title' : 'Development',
			'members' : [
				{
					'avatar' : 'elmir.jpg',
					'name'   : 'Elmir Kouliev',
					'title'  : 'Chief Technology Officer',
					'handle' : 'elmirkouliev'
				},
				{
					'avatar' : 'mike.jpg',
					'name'   : 'Mike Terpak',
					'title'  : 'Sr. Software Engineer - Full Stack'
				},
				{
					'avatar' : 'nolan.jpg',
					'name'   : 'Nolan Leung',
					'title'  : 'Software Engineer - Full Stack'
				},
				{
					'avatar' : 'dan.jpg',
					'name'   : 'Dan Sun',
					'title'  : 'Sr. iOS Engineer'
				},
				{
					'avatar' : 'omar.jpg',
					'name'   : 'Omar Elfanek',
					'title'  : 'iOS Engineer',
					'handle' : 'elfanek'
				},
				{
					'avatar' : 'tim.jpg',
					'name'   : 'Tim Reynolds',
					'title'  : 'Android Engineer'
				}
			]
		},
		{
			'title' : 'Content',
			'members' : [
				{
					'avatar' : 'morgan.jpg',
					'name'   : 'Morgan Boyer',
					'title'  : 'VP, News & Content',
					'handle' : '_bookofmorgan_'
				},
				{
					'avatar' : 'nicole.jpg',
					'name'   : 'Nicole Coiscou',
					'title'  : 'Lead Content Manager'
				},
				{
					'avatar' : 'grace.jpg',
					'name'   : 'Grace Philal',
					'title'  : 'Content Manager',
					'handle' : 'gdilla_'
				},
				{
					'avatar' : 'bryn.jpg',
					'name'   : 'Bryn Gelbart',
					'title'  : 'Content Manager',
				},
				{
					'avatar' : 'sean.jpg',
					'name'   : 'Sean McCready',
					'title'  : 'Content Manager',
				},
				{
					'avatar' : 'ash.jpg',
					'name'   : 'Ashley Meyer',
					'title'  : 'Content Manager',
					'handle' : 'ashleykm3'
				},
				{
					'avatar' : 'francesca.jpg',
					'name'   : 'Francesca Dunacn',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'tosi.jpg',
					'name'   : 'Tosi Soloman',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'christina.jpg',
					'name'   : 'Christina Williams',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'katie.jpg',
					'name'   : 'Katie Schulz',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'goldie.jpg',
					'name'   : 'Goldie Poll',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'trushaa.jpg',
					'name'   : 'Trushaa Castelino',
					'title'  : 'Content Manager'
				},
				{
					'name'   : 'Aziz Adib',
					'title'  : 'Content Manager'
				},
				{
					'name'   : 'Rakeesha Wrigley',
					'title'  : 'Content Manager'
				},
				{
					'name'   : 'Nicolette Acosta',
					'title'  : 'Content Manager'
				},
				{
					'name'   : 'Scott Mullen',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'alberto.jpg',
					'name'   : 'Alberto Zamora',
					'title'  : 'Video Editor'
				}
			]
		}
	];
%>

<div class="modal team xs <%- active %>" id="_team">
	<div class="header">
		<h2>Team</h2>
		
		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>
	
	<div class="body">
		<div class="banner">
			<img src="<%= global.CDN %>/index/team.jpg">
		</div>

		<div class="team-rows">
			<% for(var i=0; i <team.length; i++) { %>
				<div class="row">
					
					<% if(typeof(team[i]['title']) != 'undefined'){ %>
						<h3><%= team[i]['title'] %></h3>
					<% } %>	

					<ul id="team-list-<%-i%>">
						<% for(var k=0; k < team[i]['members'].length; k++) { %>

							<% member = team[i]['members'][k] %>

							<li class="team-member">
								<% if(typeof(member['avatar']) != 'undefined'){ %>
								
									<div class="avatar">
										<img src="" />
									</div>
								
								<% } else { %>
									<div class="avatar border"></div>
								<% } %>
								
								<div class="meta">
									<p class="name"><%- member['name'] %></p>
									<p class="title"><%- member['title'] %></p>
									<% if(typeof(member['handle']) != 'undefined'){ %>
										<a target="_blank" href="https://twitter.com/<%= member['handle'] %>">
											<p class="handle">@<%= member['handle'] %></p>
										</a>
									<% } %>
								</div>
							</li>
						<% } %>
					</ul>
				</div>

		    <% } %>
		</div>
	</div>
</div>

<script type="text/javascript">
	var team = <%- JSON.stringify(team) %>

	//Sets all the team member image sources
	for(var i=0; i <team.length; i++) {

		var list = document.getElementById('team-list-' + i),
		 	members = team[i]['members'],
			listItems = list.getElementsByTagName('li');

		for(var k=0; k < members.length; k++) { 

			var member = members[k];

			var image = listItems[k].getElementsByTagName('img')[0];

			if(typeof(image) !== 'undefined')
				image.src = '<%= global.CDN %>/index/team/' + member.avatar;
		}
	}
</script>
