<%
	var team = [
		{
			'members' :[
				{
					'avatar' : 'john.jpg',
					'name'   : 'John Meyer',
					'title'  : 'Chief Executive Officer',
					'handle' : 'beastmode'
				},
				{
					'avatar' : 'jeremy.jpg',
					'name'   : 'Jeremy Ogorek',
					'title'  : 'Chief Financial Officer',
					'handle' : 'jeremyogo'
				}
			]
		},
		{
			'title' : 'Creative',
			'members' :[
				{
					'avatar' : 'imogen.jpg',
					'name'   : 'Imogen Olsen',
					'title'  : 'Chief Design Officer',
					'handle' : 'imogenic'
				},
				{
					'avatar' : 'erik.jpg',
					'name'   : 'Erik Washington',
					'title'  : 'Graphic Designer',
					'handle' : '_ErikWashington'
				}
			]
		},
		{
			'title' : 'Development',
			'members' : [
				{
					'avatar' : 'elmir.jpg',
					'name'   : 'Elmir Kouliev',
					'title'  : 'Chief Technology Officer',
					'handle' : 'elmirkouliev'
				},
				{
					'avatar' : 'mike.jpg',
					'name'   : 'Mike Terpak',
					'title'  : 'Sr. Software Engineer - Full Stack'
				},
				{
					'name'   : 'Ryan McVeety',
					'title'  : 'Software Engineer — Full Stack',
					'avatar' : 'ryan.jpg'
				},
				{
					'name'   : 'Evan Rubinton',
					'title'  : 'Sr. Software Engineer - Front-end'
				},
				{
					'name'   : 'Philip Bernstein',
					'title'  : 'Sr. iOS Engineer',
					'avatar' : 'phil.jpg',
					'handle' : 'philip'
				},
				{
					'name'   : 'Blaze Gawlik',
					'title'  : 'Android Engineer',
					'avatar' : 'blaze.jpg'
				},
				{
					'name'   : 'Maurice Wu',
					'title'  : 'Android & iOS Engineer'
				},
				{
					'avatar' : 'omar.jpg',
					'name'   : 'Omar Elfanek',
					'title'  : 'iOS Engineer',
					'handle' : 'elfanek'
				},
			]
		},
		{
			'title' : 'Content',
			'members' : [
				{
					'avatar' : 'morgan.jpg',
					'name'   : 'Morgan Boyer',
					'title'  : 'VP, News & Content',
					'handle' : '_bookofmorgan_'
				},
				{
					'avatar' : 'mia.jpg',
					'name'   : 'Mia Taper',
					'title'  : 'Director, Market Operations'
				},
				{
					'name'   : 'Keana Monroy-Gill',
					'title'  : 'Market Analyst'
				},
				{
					'avatar' : 'grace.jpg',
					'name'   : 'Grace Plihal',
					'title'  : 'Director, Community'
				},
				{
					'avatar' : 'kelsie.jpg',
					'name'   : 'Kelsie Blazier',
					'title'  : 'Sr. Account Executive'
				},
				{
					'name'   : 'Cenithia Bilal',
					'title'  : 'Sr. Market Manager'
				},
				{
					'avatar' : 'francesca.jpg',
					'name'   : 'Francesca Duncan',
					'title'  : 'Sr. Market Manager'
				},
				{
					'avatar' : 'shawn.jpg',
					'name'   : 'Shawn McKie',
					'title'  : 'Sr. Market Manager'
				},
				{
					'avatar' : 'chloe.jpg',
					'name'   : 'Chloe Biggs',
					'title'  : 'Market Manager'
				},
				{
					'avatar' : 'asher.jpg',
					'name'   : 'Asher Vongtau',
					'title'  : 'Market Manager'
				},
				{
					'name'   : 'Mario Dundas',
					'title'  : 'Market Manager'
				},
				{
					'name'   : 'Dorothy Qian',
					'title'  : 'Market Manager'
				},
				{
					'name'   : 'Robert Belpasso',
					'title'  : 'Market Manager'
				},
				{
					'name'   : 'Juan Guerrero',
					'title'  : 'Market Manager'
				},
				{
					'name'   : 'Zach Baum',
					'title'  : 'Market Manager'
				},
				{
					'avatar' : 'ash.jpg',
					'name'   : 'Ashley Meyer',
					'title'  : 'Market Manager'
				},
				{
					'avatar' : 'tosi.jpg',
					'name'   : 'Tosi Solomon',
					'title'  : 'Market Manager'
				},
				{
					'avatar' : 'eduardo.jpg',
					'name'   : 'Eduardo Tió',
					'title'  : 'Content Manager'
				},
				{
					'avatar' : 'javier.jpg',
					'name'   : 'Javier Porras-Madero',
					'title'  : 'Community Manager'
				},
				{
					'name'   : 'Katarina Schulz',
					'title'  : 'Account Manager'
				},
				{
					'name'   : 'Matthew Mullen',
					'title'  : 'Market Manager'
				},
			]
		},
        {
			'title' : 'Community & Marketing',
			'members' : [
				{
					'avatar' : 'johnathan.jpg',
					'name'   : 'Johnathan Hamiter',
					'title'  : 'Head of Community and Marketing'
				},
				{
					'avatar' : 'jamal.jpg',
					'name'   : 'Jamal Stone',
					'title'  : 'Social Media Manager'
				},
				{
					'avatar' : 'ross.jpg',
					'name'   : 'Ross Perkel',
					'title'  : 'Producer'
				},
				{
					'name'   : 'Raz Robinson',
					'title'  : 'Producer'
				},
				{
					'name'   : 'Stephen Straub',
					'title'  : 'Producer'
				},
				{
					'avatar' : 'scott.jpg',
					'name'   : 'Scott Mullen',
					'title'  : 'Managing Editor'
				},
				{
					'avatar' : 'lea.jpg',
					'name'   : 'Lea Thali',
					'title'  : 'Editor'
				},
				{
					'avatar' : 'arla.jpg',
					'name'   : 'Arla Knudsen',
					'title'  : 'Editor'
				},
				{
					'avatar' : 'alberto.jpg',
					'name'   : 'Alberto',
					'title'  : 'Executive Producer'
				},
				{
					'name'   : 'Lizzy Francis',
					'title'  : 'Editor'
				},
            ]
        },
		{
			'title' : 'Sales & Marketing',
			'members' : [
				{
					'avatar' : 'kyle.jpg',
					'name'   : 'Kyle Marimon',
					'title'  : 'VP, Business Development',
					'handle' : 'KyleMarimon'
				},
				{
					'name'   : 'Chris Froelich',
					'title'  : 'Business Development Manager',
					'avatar' : 'froelich.jpg'
				},
				{
					'name'   : 'Gustavo Leal',
					'title'  : 'Business Development Manager',
					'avatar' : 'gustavo.jpg'
				},
			]
		}
	];
%>

<div class="modal modal_window team xs <%- active %>" id="_team">
	<div class="header">
		<h2>Team</h2>

		<span data-event="landing" class="mdi mdi-close modal-action"></span>
	</div>

	<div class="body">
		<div class="banner">
			<img src="<%= utils.CDN %>/index/team.jpg">
		</div>

		<div class="team-rows">
			<% for(var i=0; i <team.length; i++) { %>
				<div class="row">

					<% if(typeof(team[i]['title']) != 'undefined'){ %>
						<h3><%= team[i]['title'] %></h3>
					<% } %>

					<ul id="team-list-<%-i%>">
						<% for(var k=0; k < team[i]['members'].length; k++) { %>

							<% member = team[i]['members'][k] %>

							<li class="team-member">
								<% if(typeof(member['avatar']) != 'undefined'){ %>

									<div class="avatar">
										<img src="" />
									</div>

								<% } else { %>
									<div class="avatar border"></div>
								<% } %>

								<div class="meta">
									<p class="name"><%- member['name'] %></p>
									<p class="title"><%- member['title'] %></p>
									<% if(typeof(member['handle']) != 'undefined'){ %>
										<a target="_blank" href="https://twitter.com/<%= member['handle'] %>">
											<p class="handle">@<%= member['handle'] %></p>
										</a>
									<% } %>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
		    <% } %>
		</div>
	</div>
</div>

<script type="text/javascript">
	var team = <%- JSON.stringify(team) %>

	//Sets all the team member image sources
	for(var i=0; i <team.length; i++) {

		var list = document.getElementById('team-list-' + i),
		 	members = team[i]['members'],
			listItems = list.getElementsByTagName('li');

		for(var k=0; k < members.length; k++) {

			var member = members[k];

			var image = listItems[k].getElementsByTagName('img')[0];

			if(typeof(image) !== 'undefined')
				image.src = '<%= utils.CDN %>/index/team/' + member.avatar;
		}
	}
</script>
