<div class="card panel card-outlet-members">
	<div class="header">
		<span class="title">USERS</span>
		<span>EMAIL</span>
		<span>SMS</span>
		<span>RECEIVE NOTIFICATIONS:</span>
	</div>
	<div class="outlet-members-container">
		<ul class="outlet-members">
			<% for (var i in members) { %>
				<li data-user-id="<%= members[i]._id %>">
					<div class="member-info">
						<div>
							<%= members[i].name %>
						</div>
						<div>
							<%= members[i].email %>
						</div>
						<% if (members[i].phone) { %>
							<div>
								• <%= members[i].phone %>
							</div>
						<% } %>
					</div>
					<a class="delete-member"><span class="mdi mdi-delete"></span></a>
					<div class="checkbox checkbox-info <%= members[i].phone ? '' : 'disabled' %>">
						<label>
							<input type="checkbox" <%= members[i].notify && members[i].notify.sms ? 'checked=""' : '' %> class="notify-sms">
						</label>
					</div>
					<div class="checkbox checkbox-info">
						<label>
							<input type="checkbox" <%= members[i].notify && members[i].notify.email ? 'checked=""' : '' %> class="notify-email">
						</label>
					</div>
				</li>
			<% } %>
			<!--<li data-user-id="">
				<div class="member-info">
					<div>
						Harvey Dent
					</div>
					<div>
						cat@freshconews.com
					</div>
				</div>
				<a class="delete-member"><span class="mdi mdi-delete"></span></a>
				<div class="checkbox checkbox-info disabled">
					<label>
						<input type="checkbox" class="notify-email">
					</label>
				</div>
				<div class="checkbox checkbox-info">
					<label>
						<input type="checkbox" class="notify-sms">
					</label>
				</div>
			</li>-->
		</ul>
	</div>
	<div class="footer">
		<input type="text" class="outlet-invite" placeholder="Invite users by email">
		<span>SELECT ALL:</span>
		<div class="checkbox checkbox-info">
			<label>
				<input type="checkbox" class="notify-sms-all">
			</label>
		</div>
		<div class="checkbox checkbox-info">
			<label>
				<input type="checkbox" class="notify-email-all">
			</label>
		</div>
	</div>
</div>