<%- include('segments/console_sidebar', { pageindex: pageindex, user: user, config: config, title: assignment.title}) %>
<div class="col-md-12 col-lg-10">
		<!-- navbar -->
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="dim transparent toggle-drop toggler"></div>
			<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
				<span class="mdi mdi-menu icon"></span>
			</button>
			<div class="spacer"></div>
			<h1 class="md-type-title">Content from <%= assignment.title %></h1>
			<%
				if((user.rank && user.rank >= config.RANKS.CONTENT_MANAGER) || (user.outlet && assignment.outlet && user.outlet._id == assignment.outlet._id)){
			%>
					<a id="assignment-edit-button" class="mdi mdi-pencil icon pull-right hidden-xs toggle-aedit toggler"></a>
			<%
				}
			%>
			<%
				if (user.rank >= config.RANKS.CONTENT_MANAGER){
			%>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					<span class="filter-text">Verified content</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="filter-text">Verified content</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="filter-type">Verified content</li>
							<li class="filter-type">All content</li>
						</ul>
					</div>
				</div>
			</li>
			<% } %>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead time-filter-button">
					<span class="time-filter-text">By capture time</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="time-filter-text">By capture time</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="time-filter-type" data-filter-type="capture">By capture time</li>
							<li class="time-filter-type" data-filter-type="upload">By upload time</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead time-display-filter-button">
					<span class="time-display-filter-text">Relative</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="time-display-filter-text">Relative</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="time-display-filter-type" data-filter-type="relative">Relative</li>
							<li class="time-display-filter-type" data-filter-type="absolute">Absolute</li>
						</ul>
					</div>
				</div>
			</li>
		</nav>
		<!-- end navbar -->
		<!-- profile -->
		<div class="profile visible-xs">
		</div>
		<div class="col-sm-4 profile hidden-xs">
			<div class="container-fluid fat">
				<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<div class="meta">
						<div class="meta-description">
							<%= assignment.caption %>
						</div>
						<div class="meta-user">
							<!--<button type="button" class="btn fat tall">Follow/Unfollow</button>-->
							<% if (assignment.expiration_time > Date.now()) { %><button type="button" class="btn fat tall btn-error assignment-expire">Expire</button><% } %>
						</div>
						<div class="meta-list">
							<ul class="md-type-subhead">
								<li>
									<span class="mdi mdi-map-marker icon"></span><%= assignment.location && assignment.location.googlemaps ? assignment.location.googlemaps : 'No Location' %>
								</li>
								<li>
									<span class="mdi mdi-clock icon"></span><%= assignment.expires_text %>
								</li>
								<% if (assignment.stats){ %>
									<% if (assignment.stats.followers) { %>
										<li>
											<span class="mdi mdi-account-multiple icon"></span><%= assignment.stats.followers + ( assignment.stats.followers == 1 ? ' follower' : ' followers' ) %>
										</li>
									<% } %>
									<% if (assignment.stats.photos) { %>
										<li>
											<span class="mdi mdi-file-image-box icon"></span><%= assignment.stats.photos + ( assignment.stats.photos == 1 ? ' photo' : ' photos' ) %>
										</li>
									<% } %>
									<% if (assignment.stats.videos) { %>
										<li>
											<span class="mdi mdi-movie icon"></span><%= assignment.stats.videos + ( assignment.stats.videos == 1 ? ' video' : ' videos' ) %>
										</li>
									<% } %>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end profile -->
		<!-- grid -->
		<div class="col-sm-8 tall">
			<div class="grid">
				<div id="posts" class="row tiles"></div>
			</div>
		</div>
		<!-- end grid -->
		<%- include('segments/bulk-select') %>
		<%- include('segments/gallery-create') %>
	</div>
</div>
<!-- new bulk select -->
<div class=""></div>
<!-- edit -->
<div class="dim toggle-aedit">
</div>
<div id="assignment-edit-panel" class="assignment panel panel-default toggle-aedit edit">
	<div class="col-lg-3 visible-lg edit-current">
		<div class="meta">
			<div class="meta-user">
				<div>
					<img class="img-circle img-responsive" src="/images/placeholder-assignment@2x.png">
				</div>
				<div>
					<span class="md-type-title"><%= assignment.title %></span>
					<span id="assignment-edit-owner" class="md-type-body1">Posted by Fresco News</span>
				</div>
			</div>
			<div class="meta-description">
				<%= assignment.caption %>
			</div>
			<div class="meta-list">
				<ul class="md-type-subhead">
					<li>
						<span class="mdi mdi-clock icon"></span><%= assignment.created_text %>
					</li>
					<li>
						<span class="mdi mdi-map-marker icon"></span><%= assignment.location && assignment.location.googlemaps ? assignment.location.googlemaps : '' %>
					</li>
					<li>
						<span class="mdi mdi-alert-circle icon"></span><%= assignment.expires_text %>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-9 edit-new dialog">
		<div class="dialog-head">
			<span class="md-type-title">Edit Assignment</span>
			<span class="mdi mdi-close pull-right icon toggle-aedit toggler"></span>
		</div>
		<div class="dialog-foot">
			<button id="assignment-revert-button" type="button" class="btn btn-flat">Revert changes</button>
			<button id="assignment-clear-button" type="button" class="btn btn-flat">Clear all</button>
			<button id="assignment-save-button" type="button" class="btn btn-flat pull-right">Save</button>
			<button type="button" class="btn btn-flat pull-right toggle-aedit toggler">Discard</button>
		</div>
		<div class="dialog-body">
			<div class="dialog-col col-xs-12 col-md-7 form-group-default">
				<div class="dialog-row">
					<input id="assignment-title-input" type="text" class="form-control floating-label" placeholder="Title" value="<%= assignment.title %>">
				</div>
				<div class="dialog-row">
					<textarea id="assignment-description-input" type="text" class="form-control floating-label" placeholder="Caption"><%= assignment.caption %></textarea>
				</div>
			</div>
			<div class="dialog-col col-xs-12 col-md-5">
				<div class="dialog-row map-group">
					<div class="form-group-default">
						<input id="assignment-location-input" type="text" class="form-control floating-label" placeholder="Location">
						<input id="assignment-radius-input" type="text" class="integer form-control floating-label" data-hint="feet" placeholder="Radius">
					</div>
					<div id="assignment-map-canvas" class="map-container">
						Just pretend there's a map here ok
					</div>
				</div>
				<div class="dialog-row">
					<div class="form-group-default">
						<input id="assignment-expiration-input" type="text" class="form-control floating-label float" data-hint="hours from now" placeholder="Expiration time">
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>
<%- include('segments/gallery-edit') %>
<%- include('segments/gallery-create') %>
<%- include('segments/bulk-select') %>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/handlers/assignment.js"></script>
<script type="text/javascript">
	PAGE_Assignment.posts = <%- JSON.stringify(posts || []) %>;
	PAGE_Assignment.assignment = <%- JSON.stringify(assignment || {}) %>;
	var purchases = <%- JSON.stringify(purchases) %>;
	var rank = <%- user.rank %>;
	var outlet = <%- user.outlet ? JSON.stringify(user.outlet._id) : 'undefined'; %>
</script>
<style>.map-container {height: 240px}</style>
</body>
</html>
