<% include segments/head %>

<%- include('segments/sidebar', { user: user, config: config, title: title}) %>

	<div 
</div>
<%- include('segments/gallery-edit') %>
<%- include('segments/gallery-create') %>
<%- include('segments/bulk-select') %>
<!-- end edit -->
<%- include('segments/scripts') %>
<script type="text/javascript">
	var rank = <%- user.rank %>;
	var purchases = <%- JSON.stringify(purchases || []) %>;
	var outlet = <%- user.outlet ? JSON.stringify(user.outlet._id) : 'undefined'; %>
</script>
</body>
</html>
