<%- include('segments/console_sidebar', {title:title, user : user, config : config}) %>
	<div class="col-md-12 col-lg-10">
		<!-- navbar -->
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="dim transparent toggle-drop toggler"></div>
			<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
				<span class="mdi mdi-menu icon"></span>
			</button>
			<div class="spacer"></div>
			<h1 class="md-type-title"><%= title %></h1>
			<% if (user.rank >= config.RANKS.CONTENT_MANAGER){ %>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead content-filter-button">
					<span class="content-filter-text">Verified content</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="content-filter-text">Verified content</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="content-filter-type" data-filter-type="all">All content</li>
							<li class="content-filter-type" data-filter-type="verified">Verified content</li>
						</ul>
					</div>
				</div>
			</li>
			<% } %>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead time-filter-button">
					<span class="time-filter-text">By capture time</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="time-filter-text">By capture time</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="time-filter-type" data-filter-type="capture">By capture time</li>
							<li class="time-filter-type" data-filter-type="upload">By upload time</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead time-display-filter-button">
					<span class="time-display-filter-text">Relative</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="time-display-filter-text">Relative</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="time-display-filter-type" data-filter-type="relative">Relative</li>
							<li class="time-display-filter-type" data-filter-type="absolute">Absolute</li>
						</ul>
					</div>
				</div>
			</li>
			<!--<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					Any tags<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">Any tags<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<div class="chips">
							<div class="split-cell">
								<div class="form-group-default">
									<input type="text" class="form-control floating-label" placeholder="Tags">
								</div>
								<ul class="chips">
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-minus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#art</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-minus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#toomanycooks</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="split-cell">
								<span class="md-type-body2">Suggested tags</span>
								<ul class="chips">
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#weather</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#fire</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#protest</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#crash</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#politics</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#tech</span>
										</div>
									</li>
									<li class="chip">
										<div class="chip">
											<div class="icon">
												<span class="mdi mdi-plus icon md-type-subhead"></span>
											</div>
											<span class="chip md-type-body1">#sports</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>-->
			<!--<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					All locations<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">All locations<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li>All locations</li>
							<li>Near me</li>
						</ul>
						<div class="map-group">
							<div class="form-group-default">
								<input type="text" class="form-control floating-label" placeholder="Location">
								<input type="text" class="form-control floating-label" data-hint="miles" placeholder="Radius">
							</div>
							<div class="map-container">
								Just pretend there's a map here ok
							</div>
						</div>
						<ul class="md-type-subhead">
							<li>Save this location</li>
						</ul>
						<span class="md-type-body2 md-type-black-secondary">Saved</span>
						<ul class="md-type-subhead">
							<li>Saved location</li>
							<li>Saved location</li>
							<li>Saved location</li>
						</ul>
					</div>
				</div>
			</li>-->
			<!--<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					Verified content<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">Verified content<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li>Verified content</li>
							<li>All content</li>
						</ul>
					</div>
				</div>
			</li>-->
		</nav>
		<!-- end navbar -->
		<!-- grid -->
		<div class="container-fluid fat grid">
			<div class="row tiles content-tiles">
			</div>
		</div>
		<!-- end grid -->
	</div>
</div>
<%- include('segments/gallery-edit') %>
<%- include('segments/gallery-create') %>
<%- include('segments/bulk-select') %>
<!-- end edit -->
<%- include('segments/console_scripts') %>
<script src="/javascripts/handlers/content.js"></script>
<script type="text/javascript">
	var rank = <%- user.rank %>;
	var purchases = <%- JSON.stringify(purchases || []) %>;
	var outlet = <%- user.outlet ? JSON.stringify(user.outlet._id) : 'undefined'; %>
</script>
</body>
</html>