<%- include('segments/console_sidebar') %>
<div class="col-md-12 col-lg-10">
<!-- navbar -->
<nav class="navbar navbarfixed-top navbar-default" style="width: 100%">
	<div class="dim transparent toggle-drop toggler"></div>
	<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
		<span class="mdi mdi-menu icon"></span>
	</button>
	<div class="spacer"></div>
	<div class="form-group-default">
		<input id="navbar-location-input" type="text" class="form-control" placeholder="Location">
	</div>
	<%
		if(user.rank && user.rank >= 2){
	%>
		<!--<li class="drop no-border">
			<button class="toggle-drop md-type-subhead">
				Saved<span class="mdi mdi-menu-down icon"></span>
			</button>
			<div class="drop-menu panel panel-default">
				<div class="toggle-drop toggler md-type-subhead">Saved<span class="mdi mdi-menu-up icon pull-right"></span></div>
				<div class="drop-body">
					<ul class="md-type-subhead">
						<li>Saved location</li>
						<li>Saved location</li>
						<li>Saved location</li>
					</ul>
					<ul class="md-type-subhead">
						<li>Save this location</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="drop pull-right hidden-xs">
			<button class="toggle-drop md-type-subhead">
				Today<span class="mdi mdi-menu-down icon"></span>
			</button>
			<div class="drop-menu panel panel-default">
				<div class="toggle-drop toggler md-type-subhead">Today<span class="mdi mdi-menu-up icon pull-right"></span></div>
				<div class="drop-body">
					<ul class="md-type-subhead">
						<li>Verified photos</li>
						<li>All photos</li>
					</ul>
				</div>
			</div>
		</li>-->
	<%
		}
	%>
</nav>
<!-- end navbar -->
<!-- map -->
<div class="map-group">
	<div class="map-container full">
		 <div id="map-canvas"></div>
	</div>
</div>
<!-- end map -->
<!-- cards -->
<div class="cards">
	<div class="card panel">
		<div class="card-head small">
			<div class="tab-control full">
				<button id="active-button" class="btn btn-flat toggled">
					Active
				</button>
				<button id="pending-button" class="btn btn-flat">
					Pending
				</button>
				<button id="history-button" class="btn btn-flat">
					History
				</button>
			</div>
		</div>
		<div class="card-foot center toggle-card">
			<button type="button" id="open-assignment-window" class="btn btn-flat toggle-card toggler" <%= user.outlet && user.outlet.verified ? '' : 'disabled' %>>Post an assignment</button>
		</div>
		<div class="card-body">
			<div class="tabs full">
				<div class="tab toggled">
					<div id="active-list" class="list"></div>
				</div>
				<div class="tab">
					<div id="pending-list" class="list"></div>
				</div>
				<div class="tab">
					<div id="history-list" class="list"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="card panel toggle-card toggled">
		<div class="card-head">
			<span class="md-type-title">New Assignment</span>
			<span id="close-assignment-window" class="mdi mdi-close pull-right icon toggle-card toggler"></span>
		</div>
		<div class="card-foot center">
			<button id="add-assignment-submit" type="button" class="btn btn-flat toggle-card toggler" disabled<%= false || (user.outlet && user.outlet.card) ? '' : 'disabled' %>>Submit</button>
		</div>
		<div class="card-body">
			<div class="form-group-default">
				<input id="add-assignment-title" type="text" class="form-control floating-label" placeholder="Title">
				<textarea id="add-assignment-description" type="text" class="form-control floating-label" placeholder="Caption"></textarea>
			</div>
			<div class="map-group">
				<div class="form-group-default">
					<input id="add-assignment-location-input" type="text" class="form-control floating-label" placeholder="Location">
					<input id="add-assignment-radius-input" type="text" class="form-control floating-label integer" data-hint="feet" placeholder="Radius">
				</div>
				<div class="map-container">
					<div id="add-assignment-map">MAP</div>
				</div>
			</div>
			<div class="form-group-default">
				<!--<select class="form-control">
                    <option value="0" selected>Today</option>
                    <option value="1">Tomorrow</option>
                </select>
				<input type="time" class="form-control">-->
				<input id="add-assignment-expiration" type="text" class="form-control floating-label integer" data-hint="hours from now" placeholder="Expiration time">
			</div>
			<a class="payment" href="/outlet/settings">
				<%
					if (user.outlet && user.outlet.card){
				%>
				<span class="mdi mdi-check available"></span> Payment information available
				<%
					}else{
				%>
				<span class="mdi mdi-close unavailable"></span> Payment information unavailable
				<%
					}
				%>
			</a>
		</div>
	</div>
</div>
<!-- end cards -->
</div>
</div>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/handlers/dispatch.js"></script>
<script type="text/javascript">PAGE_Dispatch.outlet = <%- JSON.stringify(user.outlet || {}) %>;</script>
<style>
    .map-group { height: 100% }
    .map-group > .map-container { height: 100% }
    #map-canvas { height: 100% }
	#add-assignment-map {height: 307px;}
	.callout {
		/*width: 360px;*/
		height: 180px;
		position: relative;
	}
	.assignment-callout-img {
		width: 135px;
		height: 180px;
		display: flex;
		float: left;
	}
	.assignment-callout-main {
		width: 225px;
		height: 100%;
		float: right;
		padding: 16px 8px;
		position: relative;
		overflow: hidden;
		-webkit-user-select: auto;
		user-select: auto;
	}
	.assignment-callout-title {
		padding-bottom: 8px;
	}
	.assignment-callout-caption {
		padding-bottom: 8px;
	}
	.assignment-callout-icon {
		padding-right: 6px;
		line-height: 36px;
	}
	.assignment-callout-image-counter {
		padding-right: 16px;
		line-height: 36px;
	}
	.assignment-callout-video-counter {
		line-height: 36px;
	}
	.assignment-callout-buttons {
		position: absolute;
		bottom: 0;
		width: 209px;
	}
	.assignment-callout-button {
		/*display: inline-block;*/
		float: right;
		color: #0077ff !important;
	}
</style>
</body>
</html>
