<% include segments/head %>

<% 
    navClass = typeof(modal) !== 'undefined' ? 'nav transparent' : 'nav',
    nonactive = typeof(modal) !== 'undefined' ? ' nonactive' : '';
%>

<div class="wrapper">
    <div id="_nav" class="<%- navClass %>">
        <a href="/">
            <span class="icon-fresco"></span>
        </a>

        <ul>
            <li class="<%- nonactive %>" data-event="scroll" data-element="_about">ABOUT</li>
            <li class="<%- nonactive %>" data-event="scroll" data-element="_highlights">HIGHLIGHTS</li>
            <li data-event="landing" id="landing-action">HOME</li>
            <li data-event="modal" data-modal="account">NEWS DASHBOARD</li>
        </ul>
    </div>

    <div class="hero-bg">
        <div></div>
    </div>

    <div class="hero-wrap landing<%- nonactive %>">
        <div id="_hero" class="hero">
            <div class="tagline">
                <h1>THE WORLD NEEDS YOUR CAMERA.</h1>

                <h3>Be on call with Fresco</h3>
            </div>

            <div class="download">
                <a href="https://itunes.apple.com/us/app/fresco-news/id872040692?mt=8"><img src="/images/index/appstore.png" /></a>
                
                <a href=""><img src="/images/index/play.png" /></a>
            </div>
        </div>

        <span class="mdi mdi-arrow-down-bold hover" data-set="#0047BB" data-return="#FFF" id="navigator"></span>
    </div>

    <div class="bottom-wrap landing<%- nonactive %>" id="_bottom-wrap">
        <div id="_bottom" class="bottom">
            <div id="_about" class="about card">
                <ul class="timeline">
                    <li class="first">
                        <img src="/images/index/timeline-1.png" />
                    </li>
                    
                    <li class="second">
                        <img src="/images/index/timeline-2.png" />
                    </li>
                    
                    <li class="third">
                        <img src="/images/index/timeline-3.png" />
                        <img class="callout" src="/images/index/callout.png" />
                    </li>
                </ul>

               <ul class="progress">
                    <li class="first">
                        <div class="circle"></div>
                        
                        <p>GET CLOSE.</p>
                    </li>
                    
                    <li class="second">
                        <div class="circle"></div>                
                        
                        <p>GET THE SHOT.</p>
                    </li>
                    
                    <li class="third">
                        <div class="circle"></div>               
                        
                        <p>GET PAID.</p>
                    </li>
               </ul>

                <p class="info">Fresco notifies you about nearby breaking news events when news outlets need photos and videos for their coverage. 
                When a news outlet downloads or uses your photo or video, you get paid instantly!</p>
            </div>

            <div id="_highlights" class="highlights-wrap card">
                <div id="arrow-left" class="left arrow">
                    <span>‹</span>
                </div>
                
                <div class="highlights" id="slick-highlights"></div>

                <div id="arrow-right" class="right arrow">
                    <span>›</span>
                </div>
            </div>
        </div>
    </div>

    <% modals.forEach(function(currentModal){ %>
        <%  active = currentModal == modal ? 'active' : '' %>
        <%- include('modals/' + currentModal, {active: active}) %>
    <% }); %>

    <%- include('segments/footer', {active: nonactive}) %>

</div>

<% include segments/scripts %>