<% include segments/head %>

<% 
    navClass = typeof(modal) !== 'undefined' ? 'nav transparent' : 'nav',
    display = typeof(modal) !== 'undefined' ? 'none' : '';
    show = typeof(modal) !== 'undefined' ? ' inline-block' : '';
    loggedIn = typeof(loggedIn) == 'undefined' || !loggedIn ? false : true;
%>

<div class="wrapper">
    <div id="_nav" class="<%- navClass %>">
        <a class="logo" href="/">
            <span class="icon-fresco"></span>
        </a>

        <ul>
            <li class="modal-action" style="display:<%- display %>" data-event="scroll" data-element="_hero">ABOUT</li>
            <li class="modal-action" style="display:<%- display %>" data-event="scroll" data-element="_highlights">HIGHLIGHTS</li>
            <li class="modal-action" style="display:<%- show %>" data-event="landing" id="landing-action">HOME</li>
            <% if(loggedIn){ %>
                <li><a href="/archive">NEWS DASHBOARD</a></li>
            <% } else { %>
                <li data-event="modal" data-modal="account">NEWS DASHBOARD</li>
            <% } %> 
        </ul>
    </div>

    <div class="hero-bg">
        <div></div>
    </div>

    <div class="landing-wrap" id="_landing-wrap" style="display:<%-display%>">
        <div class="hero-wrap">
            <div id="_hero" class="hero">
                <div class="tagline">
                    <h1>THE WORLD NEEDS YOUR CAMERA.</h1>

                    <h3>Be on call with Fresco</h3>
                </div>

                <div class="download">
                    <a href="https://itunes.apple.com/us/app/fresco-news/id872040692?mt=8">
                        <img src="https://d1dw1p6sgigznj.cloudfront.net/index/appstore.png" />
                    </a>
                    
                    <a href="">
                        <img src="https://d1dw1p6sgigznj.cloudfront.net/index/play.png" />
                    </a>
                </div>
            </div>
        </div>

        <div id="_bottom" class="bottom" style="">
            <div id="_about" class="about card">
                <div class="scroll">
                    <ul class="timeline">
                        <li class="first">
                            <img src="https://d1dw1p6sgigznj.cloudfront.net/index/timeline-1.png" />
                        </li>
                        
                        <li class="second">
                            <img src="https://d1dw1p6sgigznj.cloudfront.net/index/timeline-2.png" />
                        </li>
                        
                        <li class="third">
                            <img src="https://d1dw1p6sgigznj.cloudfront.net/index/timeline-3.png" />
                            <img class="callout" src="https://d1dw1p6sgigznj.cloudfront.net/index/callout.png" />
                        </li>
                    </ul>
                    <div class="line"></div>
                    <ul class="progress">
                        <li class="first">
                            <div class="circle"></div>
                            
                            <p>GET CLOSE.</p>
                        </li>
                        
                        <li class="second">
                            <div class="circle"></div>                
                            
                            <p>GET THE SHOT.</p>
                        </li>
                        
                        <li class="third">
                            <div class="circle"></div>               
                            
                            <p>GET PAID.</p>
                        </li>
                    </ul>
               </div>

                <p class="info">Fresco notifies you about nearby breaking news events when news outlets need photos and videos for their coverage. 
                When a news outlet downloads or uses your photo or video, you get paid instantly!</p>
            </div>

            <div id="_highlights" class="highlights-wrap card">
                <div id="arrow-left" class="left arrow">
                    <span>‹</span>
                </div>
                
                <div class="highlights" id="slick-highlights"></div>

                <div id="arrow-right" class="right arrow">
                    <span>›</span>
                </div>
            </div>
        </div>
    </div>
    <% modals.forEach(function(currentModal){ %>
        <%  active = currentModal == modal ? 'active-modal' : '' %>
        <%- include('modals/' + currentModal, {active: active}) %>
    <% }); %>

    <%- include('segments/footer', {display: display}) %>

</div>

<% include segments/scripts %>