<!DOCTYPE html>
<html>
<head>
	<title>Fresco News</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	
	<meta name="description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="keywords" content="news, photojournalism, photography, crowdsourced, app, iphone, android">
	<meta name="reply-to" content="info@fresconews.com">
	<meta name="copyright" content="Fresco News">
	<meta name="web_author" content="Fresco Product">
	<meta name="language" content="english">
	<meta name="robots" content="index, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-favicon.png">
	<link rel="image_src" type="image/png" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-generic.png">
	<!-- facebook 	MAKE THE IMAGESD IN THESE META TAGS POINT TO CLOUDFRONT-->
	<meta property="og:title" content="Fresco News">
	<meta property="og:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-opengraph.png">
	<meta property="og:url" content="http://fresconews.com/">
	<meta property="og:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta property="og:locale" content="en_US">
	<meta property="fb:app_id" content="267157383448416">
	<meta property="fb:admins" content="1160814652"> <!--imogen-->
	<meta property="fb:admins" content="578765921"> <!--john-->
	<meta property="fb:admins" content="1337647648"> <!--elmir-->
	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fresconews">
	<meta name="twitter:creator" content="@fresconews">
	<meta name="twitter:title" content"Fresco News">
	<meta name="twitter:description" content="Photos and videos from real people on the scenes of breaking news events.">
	<meta name="twitter:image" content="https://d1dw1p6sgigznj.cloudfront.net/images/icon-twitter.png">
	<meta name="twitter:app:country" content="US">
	<meta name="twitter:app:name:iphone" content="Fresco News">
	<meta name="twitter:app:id:iphone" content="872040692">
	<meta name="twitter:app:url:iphone" content="fresco://">
	<!-- apple -->
	<meta name="apple-mobile-web-app-title" content="Fresco">
	<link rel="apple-touch-icon" type="image/png" href="https://d1dw1p6sgigznj.cloudfront.net/images/icon-apple.png">
	<meta name="apple-itunes-app" content="app-id=872040692, app-argument=fresco://">
	<!-- resources -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/material.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<nav>
		<a href="/"><img alt="Fresco" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png"></a>
		<ul>
			<% 
				if (user){
			%>
			<li><a href="/highlights">Dashboard</a></li>
			<%
				}
			%>
		</ul>
	</nav>
<section id="signup">
	<div>
		<% if (!token){ %>
			<h2>Sign up for<br>Fresco News</h2>
		<% }else{ %>
			<h2>Join <%= outlet_title %> on<br>Fresco News</h2>
		<% } 
		if (user){ %>
			<span>Please enter your password to accept this invitation.</span>
			<form>
				<input type="password" class="accept-pw" placeholder="Password" spellcheck="false">
				<input class="accept-submit" type="submit" value="Accept Invitation">
			</form>
		<%	}else{ %>
			<span>This account will be your personal account for your newsroom.</span>
			<form>
				<input type="text" class="join-fn" placeholder="First name" spellcheck="false">
				<input type="text" class="join-ln" placeholder="Last name" spellcheck="false">
				<!--<input type="text" class="join-outlet" placeholder="Outlet Title (optional)" spellcheck="false">-->
				<% 	if (!token) { %>
				<input type="text" class="join-em" placeholder="Email address" spellcheck="false">
				<%	} %>
				<input type="password" class="join-pw" placeholder="Password" spellcheck="false">
				<input type="password" class="join-c-pw" placeholder="Confirm password" spellcheck="false">
				<input class="join-submit" type="submit" value="Submit">
			</form>
		<% } %>
	</div>
</section>
	<!-- footer -->
	<%- include('segments/footer') %>
	<style>
		/*#register-error {
			background-color: white;
			margin: 10px;
		}*/
	</style>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.transit.min.js"></script>
<script type="text/javascript" src="/javascripts/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/toggle.js"></script>
<script type="text/javascript" src="/javascripts/scrollspy.js"></script>
<script type="text/javascript" src="/javascripts/snackbar.min.js"></script>
<script type="text/javascript" src="/javascripts/fresco.js"></script>
<% if (token){ %><script type="text/javascript">var oref = '<%= token %>';</script><% } %>
<script type="text/javascript" src="/javascripts/handlers/join.js"></script>
<script type="text/javascript">
	$(document).ready(function(){<%- JSON.stringify(alerts) %>.forEach(function(alert){$.snackbar({content: alert, timeout: 5000, htmlAllowed: true});});});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58884254-1', 'auto');
  ga('set', 'dimension1', <%= user ? 'TRUE' : 'FALSE' %>);
  ga('send', 'pageview');

</script>
</body>
</html>