<%- include('segments/console_sidebar', { links: ['/stylesheets/fresco/outlet-settings.css'] }) %>
	<div class="col-md-12 col-lg-10">
		<!-- navbar -->
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="dim transparent toggle-drop toggler"></div>
			<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
				<span class="mdi mdi-menu icon"></span>
			</button>
			<div class="spacer"></div>
			<h1 class="md-type-title"><%=outlet.title%></h1>
		</nav>
		<!-- end navbar -->
		<!-- settings -->
		<div class="outlet-settings">
			<div>
				<%- include('segments/cards/outlet-info.ejs', { avatar: outlet.avatar, title: outlet.title, website: outlet.link, bio: outlet.bio }) %>
				<%- include('segments/cards/outlet-card.ejs', { last4: outlet.card ? outlet.card.last4 : null, brand: outlet.card ? outlet.card.brand : null }) %>
				<div class="outlet-quick-support">
					<h3>QUICK SUPPORT</h3>
					<ul>
						<!--<li><span class="mdi mdi-ticket"></span> <a>Submit a ticket</a></li>-->
						<li><span class="mdi mdi-email"></span> <a href="mailto:support@fresconews.com">Email us</a></li>
					</ul>
				</div>
			</div>
			<div>
				<%- include('segments/cards/outlet-members.ejs', { members: outlet.users }) %>
				<!--<%- include('segments/cards/outlet-locations.ejs') %>-->
			</div>
		</div>
		<!-- end settings -->
	</div>
</div>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/javascripts/handlers/outlet-settings.js"></script>
<script type="text/javascript">
	PAGE_OutletSettings.outlet = <%- JSON.stringify({_id: outlet._id}) %>;
	Stripe.setPublishableKey('<%= config.STRIPE_PUBLISHABLE %>');
</script>
<style>
	p.payment{
		font-size: 13px;
		line-height: 1.7em;
	}
	.payment > .mdi{
		vertical-align: middle;
	}
	.flex-row > .btn.save-button{
		background: #ffffff;
	}
</style>
</body>
</html>
