<!DOCTYPE html>
<html>
<head>
	<title><%= title %> | Fresco News</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/materialdesignicons.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	
	<meta name="apple-itunes-app" content="app-id=872040692">
	
	<meta property="og:title" content="<%= title %> | Fresco News">
	<meta property="og:description" content="<%= gallery.caption %>">
	<meta property="og:url" content="http://www.fresconews.com/gallery/<%= gallery._id %>">
	<meta property="og:site_name" content="Fresco News">
	<meta property="og:type" content="article">
	<meta property="og:image" content="<%= config.formatImg(gallery.posts[0].image, 'large') %>">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fresconews">
	<meta name="twitter:title" content="<%= title %> | Fresco News">
	<meta name="twitter:description" content="<%= gallery.caption %>">
	<meta name="twitter:image" content="<%= config.formatImg(gallery.posts[0].image, 'large') %>">
	
	<style>
		footer {
			position: page;
			bottom: 0;
			width: 100%;
		}
		.no-select{
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}
		#gallery-info {
			padding: 24px;
			font-size: 16px;
			line-height: 20px;
		}
		
		.section {
			padding-bottom: 16px;
		}
		
		.post {
			height: 90px;
			width: auto;
			padding-bottom: 12px;
			padding-right: 1px;
		}
		
		.gallery {
			padding-right: 12px;
		}
		
		#gallery-nav {
			align-items: center;
			flex-direction: column;
		}
		.slide.hide {
			display: none;
		}
		
		#wordmark {
			/*padding-top: 12px;*/
			margin: 12px 0px;
		}
		
		.meta-list > ul {
			margin-bottom: 0;
			padding: 0 24px;
			list-style-type: none;
		}
		/* line 246, ../sass/_rules.scss */
		.meta-list > ul > li {
			padding: 8px 0;
			margin-bottom: 4px;
		}
		/* line 249, ../sass/_rules.scss */
		.meta-list > ul > li > span {
			margin-right: 16px;
			vertical-align: -50%;
		}
		/* line 253, ../sass/_rules.scss */
		.meta-list > ul > li:last-child {
			margin-bottom: 0;
		}
		
		.favicon {
			width: 30px;
			height: 30px;
		}
		
		.meta {
			position: absolute;
			bottom: 0;
			left: 0;
			right: initial !important;
			top: initial !important;
		}
	</style>
</head>
<body>
	<nav id="gallery-nav">
		<a id="wordmark" href="/"><img alt="Fresco" src="https://d1dw1p6sgigznj.cloudfront.net/images/wordmark-nav.png"></a>
	</nav>
	<section class="dark nohover" id="highlights">
		
		<div class="slick slick_gallery">
			<% for (var index in gallery.posts){ %>
				<% if (index > 0) { %>
				<div class="slide hide">
				<% } else { %>
				<div class="slide">
				<% } %>
					<div>
						<% if(index == 0) {%>
							<img class="carousel" src="<%= config.formatImg(gallery.posts[index].image, 'large') %>">
						<%} else{ %>
							<img class="carousel" data-lazy="<%= config.formatImg(gallery.posts[index].image, 'large') %>">
						<% } %>
					</div>
					<div class="meta">
						<table>
							<thead>
								<tr>
									<th><img class="lazy" src="<%= gallery.posts[index].owner ? gallery.posts[index].owner.avatar : 'https://d1dw1p6sgigznj.cloudfront.net/images/user-1-small.png' %>" width="36" height="36"></th>
									<th><%= gallery.posts[index].byline %></th>
								</tr>
							</thead>
							<tbody>
								<% if (gallery.posts[index].location.address) { %>
								<tr>
									<td><span class="mdi mdi-map-marker"></span></td>
									<td><%= gallery.posts[index].location.address %></td>
								</tr>
								<% } %>
								<tr>
									<td><span class="mdi mdi-clock"></span></td>
									<td><%= config.getTimeAgo(gallery.posts[index].time_created) %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<% } %>
		</div>
	</section>
	<div class="container" id="gallery-info">
		<div class="row">
			<div class="col-md-6 section">
				<p><%= gallery.caption %></p><br />
				<a href="https://itunes.apple.com/app/apple-store/id872040692?pt=83522801&ct=GalleryPostBtn&mt=8" target="_blank">
					<img src="https://d1dw1p6sgigznj.cloudfront.net/images/store-apple.svg">
				</a>
			</div>
			<div class="col-md-6 hidden-xs" id="more-galleries">
				<!--<% gallery.related_stories.forEach(function(story){ %>
					<h2 class="section">More From <%= story.title %></h2>
				<% }) %>
				<h2 class="section">Related Galleries</h2>-->
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include('segments/footer') %>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-58884254-1', 'auto');
	ga('set', 'dimension1', 'FALSE');
	ga('send', 'pageview', location.pathname);
	
	</script>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.lazyload.min.js"></script>
	<script type="text/javascript" src="/javascripts/slick.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.transit.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/toggle.js"></script>
	<script type="text/javascript" src="/javascripts/scrollspy.js"></script>
	<script type="text/javascript" src="/javascripts/snackbar.min.js"></script>
	<script type="text/javascript" src="/javascripts/fresco.js"></script>
	<script type="text/javascript" src="/javascripts/handlers/public_gallery.js"></script>
	<script type="text/javascript">
		PAGE_Public_Gallery.gallery = {};
		PAGE_Public_Gallery.gallery._id = <%- JSON.stringify(gallery._id) %>;
		PAGE_Public_Gallery.gallery.related_stories = <%- JSON.stringify(gallery.related_stories) %>;
		PAGE_Public_Gallery.gallery.articles = <%- JSON.stringify(gallery.articles) %>;
		PAGE_Public_Gallery.gallery.tags = <%- JSON.stringify(gallery.tags) %>;
	</script>
</body>
</html>