<%- include('segments/console_sidebar', { pageindex: pageindex, title : title, user : user, config : config}) %>

<div class="col-md-12 col-lg-10">
	<!-- navbar -->
	<nav class="navbar navbar-fixed-top navbar-default">
		<div class="dim transparent toggle-drop toggler"></div>
		<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
			<span class="mdi mdi-menu icon"></span>
		</button>
		<div class="spacer"></div>
		<h1 class="md-type-title"><%= title %></h1>
		<li class="drop pull-right hidden-xs">
			<button class="toggle-drop md-type-subhead">
				<span class="outlet-dropdown">All outlets</span><span class="mdi mdi-menu-down icon"></span>
			</button>
			<div class="drop-menu panel panel-default">
				<div class="toggle-drop toggler md-type-subhead"><span class="outlet-dropdown">All outlets</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
				<div class="drop-body">
					<div class="chips">
						<div class="split-cell">
							<div class="form-group-default">
								<input id="outlet-filter-input" type="text" class="form-control floating-label" placeholder="Outlet name">
							</div>
							<ul id="outlet-filter" class="chips">
								
							</ul>
						</div>
						<div class="split-cell">
							<span class="md-type-body2">Available outlets</span>
							<ul id="outlet-filter-available" class="chips">
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
	</nav>
	<!-- end navbar -->
	
	<!-- purchases -->
	<div class="container-fluid fat grid">
		<div id="purchase-list" class="col-md-8 col-xs-12 list"></div>
		<!-- stats -->
		<div class="col-md-4">
			<h3 class="md-type-button md-type-black-secondary">Total purchases</h3>
			<ul class="md-type-subhead">
				<li><span id="past-day"></span><span class="md-type-caption"> last 24 hours</span></li>
				<li><span id="past-week"></span><span class="md-type-caption"> last 7 days</span></li>
				<li><span id="past-month"></span><span class="md-type-caption"> last 30 days</span></li>
			</ul>
			<button id="export-xlsx" type="button" class="btn">Export to .xlsx</button>
			<button id="export-csv" type="button" class="btn">Export to .csv</button>
		</div>
		<!-- end stats -->
	</div>
	<!-- end purchases -->
</div>
</div>
<%- include('segments/add-article') %>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="/javascripts/handlers/purchases.js"></script>
<script type="text/javascript">
	PAGE_Purchases.PRICE_VIDEO = <%- JSON.stringify(config.PRICE_VIDEO) %>;
	PAGE_Purchases.PRICE_IMAGE = <%- JSON.stringify(config.PRICE_IMAGE) %>;
</script>
<style>
	.list-item {
		cursor: pointer;
	}
	.list-item img.img-circle{
		width: 40px;
		height: 40px;
	}
	.assignment-link{
		cursor: pointer;
		margin: -15px 0px !important;
	}
	.assignment-link:hover {
		text-decoration: underline;
	}
</style>
</body>
</html>