<%- include('segments/console_sidebar') %>
<div class="col-md-12 col-lg-10">
		<!-- navbar -->
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="dim transparent toggle-drop toggler"></div>
			<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
				<span class="mdi mdi-menu icon"></span>
			</button>
			<div class="spacer"></div>
			<h1 class="md-type-title">Results for "<%= query %>"</h1>
			<!--<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					By capture time<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">By capture time<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li>By capture time</li>
							<li>By upload time</li>
						</ul>
					</div>
				</div>
			</li>-->
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					<span id="tag-dropdown">Any tags</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">Any tags<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<div class="chips">
							<div class="split-cell">
								<div class="form-group-default">
									<input id="tag-filter-input" type="text" class="form-control floating-label" placeholder="Tags">
								</div>
								<ul id="tag-filter" class="chips">
									
								</ul>
							</div>
							<!--<div class="split-cell">
								<span class="md-type-body2">Suggested tags</span>
								<ul class="chips">
									
								</ul>
							</div>-->
						</div>
					</div>
				</div>
			</li>
			<li class="drop filter-location pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					<span class="filter-text">Any location</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="filter-text">Any location</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<!--<div class="toggle-drop toggler md-type-subhead">All locations<span class="mdi mdi-menu-up icon pull-right"></span></div>-->
					<div class="drop-body">
						<!--<ul class="md-type-subhead">
							<li>All locations</li>
							<li>Near me</li>
						</ul>-->
						<div class="map-group">
							<div class="form-group-default">
								<input type="text" class="form-control floating-label search-location" placeholder="">
								<input type="text" class="form-control floating-label search-radius" data-hint="miles" placeholder="Radius">
							</div>
							<div class="map-container search-map-container">
								Just pretend there's a map here ok
							</div>
						</div>
						<!--<ul class="md-type-subhead">
							<li>Save this location</li>
						</ul>
						<span class="md-type-body2 md-type-black-secondary">Saved</span>
						<ul class="md-type-subhead">
							<li>Saved location</li>
							<li>Saved location</li>
							<li>Saved location</li>
						</ul>-->
					</div>
				</div>
			</li>
			<% if (user.rank >= config.RANKS.CONTENT_MANAGER){ %>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					<span class="filter-text">Verified content</span><span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead"><span class="filter-text">Verified content</span><span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li class="filter-type">Verified content</li>
							<li class="filter-type">All content</li>
						</ul>
					</div>
				</div>
			</li>
			<% } %>
		</nav>
		<!-- end navbar -->
		<!-- grid -->
		<div class="container-fluid grid">
			<div class="col-md-8">
				<div id="posts" class="row tiles">
					
				</div>
			</div>
			<!-- suggestions -->
			<div class="col-md-4">
				<h3 class="md-type-button md-type-black-secondary">Assignments</h3>
				<ul id="assignments" class="md-type-subhead">
				</ul>
				<h3 class="md-type-button md-type-black-secondary">Stories</h3>
				<ul id="stories" class="md-type-subhead">
					<!--<li><a href="">Alice's Adventures in Wonderland</a></li>-->
				</ul>
				<h3 class="md-type-button md-type-black-secondary">Users</h3>
				<ul id="users" class="meta">
					<!--<li class="meta-user">
						<div>
							<img class="img-circle img-responsive" src="../img/placeholder-account.jpg">
						</div>
						<div>
							<span class="md-type-title">Brandon Olsen</span>
							<span class="md-type-body1">@dotbran &bull; Fresco News</span>
						</div>
					</li>-->
				</ul>
			</div>
			<!-- end suggestions -->
		</div>
		<!-- end grid -->
	</div>
</div>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="/javascripts/handlers/search.js"></script>
<script type="text/javascript">
	PAGE_Search.query = <%- JSON.stringify(query) %>;
	PAGE_Search.tags = <%- JSON.stringify(tags) %>;
	PAGE_Search.location = <%- JSON.stringify(location) %>;
	var purchases = <%- JSON.stringify(purchases) %>;
</script>
</body>
</html>