<%- include('segments/console_sidebar', {title:"Story", user : user, config : config}) %>

	<div class="col-md-12 col-lg-10">
		<!-- navbar -->
		<nav class="navbar navbar-fixed-top navbar-default">
			<div class="dim transparent toggle-drop toggler"></div>
			<button type="button" class="icon-button toggle-drawer toggler hidden-lg">
				<span class="mdi mdi-menu icon"></span>
			</button>
			<div class="spacer"></div>
			<h1 class="md-type-title" id="story-title">Story Title</h1>
			<% if (user.rank >= config.RANKS.CONTENT_MANAGER) { %><a class="mdi mdi-pencil icon pull-right hidden-xs toggle-sedit toggler"></a><% } %>
			<!--<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					By capture time<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">By capture time<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li>By capture time</li>
							<li>By upload time</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="drop pull-right hidden-xs">
				<button class="toggle-drop md-type-subhead">
					Verified content<span class="mdi mdi-menu-down icon"></span>
				</button>
				<div class="drop-menu panel panel-default">
					<div class="toggle-drop toggler md-type-subhead">Verified content<span class="mdi mdi-menu-up icon pull-right"></span></div>
					<div class="drop-body">
						<ul class="md-type-subhead">
							<li>Verified content</li>
							<li>All content</li>
						</ul>
					</div>
				</div>
			</li>-->
		</nav>
		<!-- end navbar -->
		<!-- profile -->
		<div class="profile visible-xs">
		</div>
		<div class="col-sm-4 profile hidden-xs">
			<div class="container-fluid fat">
				<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<div class="meta">
						<div class="meta-description" id="story-description"></div>
						<div class="meta-user">
							<button id="story-follow" type="button" class="btn fat tall">
								<% if (user.following.stories.indexOf(story_id) == -1){ %>
									Follow
								<% } else { %>
									Unfollow
								<% } %>
							</button>
						</div>
						<div class="meta-list">
							<ul class="md-type-subhead">
								<!--<li><span class="mdi mdi mdi-account-multiple icon story-followers"></span></li>-->
								<li><span class="mdi mdi-image-filter icon story-galleries"></span></li>
								<li><span class="mdi mdi-file-image-box icon story-photos"></span></li>
								<li><span class="mdi mdi-movie icon story-videos"></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end profile -->
		<!-- grid -->
		<div class="col-sm-8 tall">
			<div class="grid">
				<div class="row tiles story-post-list"></div>
			</div>
		</div>
		<!-- end grid -->
		<%- include('segments/story-edit') %>
		<%- include('segments/gallery-create') %>
		<%- include('segments/bulk-select') %>
		<%- include('segments/gallery-edit') %>
	</div>
<%- include('segments/console_scripts') %>
<script type="text/javascript" src="/javascripts/handlers/story.js"></script>
<script type="text/javascript">
	var purchases = <%- JSON.stringify(purchases || []) %>;
	var following = <%- JSON.stringify(user.following || []) %>;
	PAGE_Story.story = <%- JSON.stringify({_id: story_id}) %>
	var rank = <%- user.rank %>;
</script>
</div>
</body>
</html>