{{#> email_base }}
	<div class="email-content__title">
		Assignment Accepted
	</div>
	<div class="email-content__body">
		\{{user}}\{{others}} accepted the assignment <a target="_blank" href="\{{ link }}">\{{ assignment_title }}</a>
		<a target="_blank" class="button" href="\{{ link }}">OPEN ASSIGNMENT</a>
	</div>
{{/email_base}}
