{{#> email_base }}
	<div class="email-content__title">
		Here's the latest from \{{{links}}}
	</div>
	<div class="email-content__body">
        \{{#each galleries}}
            <div class="gallery">
                <div class="media">
                    \{{#if single_post}}
                        \{{#each posts}}
                            <a target="_blank" href="\{{ link }}" class="post large">
								\{{#if video}}
									<img class="video_icon" src="http://cdn.static.fresconews.com/images/email/play-circle-outline.png"></img>
								\{{/if}}
								<div class="img_wrap">
									<img src="\{{ image }}"></img>
								</div>
								<div class="img_after"></div>
                            </a>
                        \{{/each}}
                    \{{else}}
						\{{#each posts}}
							<a target="_blank" href="\{{ link }}" class="post">
								\{{#if video}}
									<img class="video_icon" src="http://cdn.static.fresconews.com/images/email/play-circle-outline.png"></img>
								\{{/if}}
								<div class="img_wrap">
									<img src="\{{ image }}"></img>
								</div>
								<div class="img_after"></div>
							</a>
						\{{/each}}
                    \{{/if}}
                </div>
                <div class="caption_container">
                    <div class="caption">\{{ caption }}</div>
                    <a target="_blank" href="\{{ gallery_link }}">OPEN GALLERY</a>
                </div>
            </div>
        \{{/each}}
	</div>
{{/email_base}}
