<html>
	<head></head>
	<body>
		<div class="container">
			<div class="email-content">
				<div class="email-content__title">
					Assignment \{{operation}}: <a target="_blank" href="\{{ link }}">\{{ title }}</a>
				</div>
				<div class="email-content__body">
                    <div class="assignment">
                        <div class="map">
							<a target="_blank" href="\{{ link }}">
								<img src="\{{ static_map }}" alt="Assignment Map">
							</a>
                        </div>
                        <div class="caption_container">
                            <div class="caption">\{{ caption }}</div>
                            <a target="_blank" href="\{{ link }}">OPEN ASSIGNMENT</a>
                        </div>
                    </div>
					<div class="map-info">
						\{{{ info }}}
					</div>
				</div>
				{{> footer }}
			</div>
		</div>
	</body>
</html>
