<!-- Props -->
<% if(typeof(props) !== 'undefined'){ %>
    <script type="text/javascript">window.__initialProps__ =  <%- props %></script>
<% } %>

<!-- Alerts -->
<script type="text/javascript">window.alerts = <%- JSON.stringify(alerts) %></script>

<!--Remote Scripts-->
<% if(typeof remoteScripts !== 'undefined') { %>
    <% for(let script of remoteScripts) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% } %>
<% } %>

<!--Global Specific based on sections-->
<% if(typeof(section) !== 'undefined' && section == 'platform'){ %>
    <!--Google Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0tAylcwyLZuJwp0M9XU7p5TzVTd-p7i4=&libraries=geometry,places"></script>
<% } %>

<% // Load asset based on page, check if in dev mode or not %>
<% if(typeof(page) !== 'undefined' && typeof(assets) !== 'undefined'){ %>
    <script type="text/javascript" src="<%= assets['commons']['js'] %>"></script>
    <script type="text/javascript" src="<%= assets[page]['js'] %>"></script>
<% } %>


<!--Google Analytics-->
<% include ga %>

</body>

</html>
