<!-- Props -->
<% if(typeof(props) !== 'undefined'){ %>
    <script type="text/javascript">window.__initialProps__ =  <%- props %></script>
<% } %>

<!-- Alerts -->
<script type="text/javascript">window.alerts = <%- JSON.stringify(alerts) %></script>

<!--Analytics-->
<% include analytics %>

<!--Remote Scripts-->
<% if(typeof remoteScripts !== 'undefined') { %>
    <% for(let script of remoteScripts) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% } %>
<% } %>

<!--Global Specific based on sections-->
<% if(typeof(section) !== 'undefined' && section == 'platform'){ %>
    <script type="text/javascript" src="<%= assets['commons']['js'] %>"></script>
    <!--Google Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0tAylcwyLZuJwp0M9XU7p5TzVTd-p7i4=&libraries=geometry,places"></script>
<% } %>

<% // Load asset based on page, check if in dev mode or not %>
<% if(typeof(page) !== 'undefined' && typeof(assets) !== 'undefined'){ %>
    <script type="text/javascript" src="<%= assets[page]['js'] %>"></script>
<% } %>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '776670159137907');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1"
                    src="https://www.facebook.com/tr?id=776670159137907&ev=PageView
                    &noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</body>

</html>
